
.contentGrid{
  height: 35vw;
  margin:0;
  position: relative;
  overflow: hidden;
  float: right;
}


.main-grid{
   display: grid;
  grid-column-gap: 2.3vw;
  grid-row-gap: 7vw;
  grid-template-columns:
              repeat(5, 7vw);
  grid-auto-rows: 7vw;
  grid-template-areas:
       "g1 . g2 . g3"
       ". g4 . g5 . "
       "g6 . g7 . g8";
  justify-content: space-evenly;

 }

.fadein {
animation-name: fadein;
animation-fill-mode: forwards;
animation-duration: 900ms;
animation-timing-function: ease-in-out;
opacity: 0;
}


.hex1{
  grid-area: g1;
}
.hex2{
  grid-area: g2;
}
.hex3{
grid-area: g3;
}
.hex4{
  grid-area: g4;
}
.hex5{
  grid-area: g5;
}

.hex6{
  grid-area: g6;
}
.hex7{
  grid-area: g7;
}
.hex8{
  grid-area: g8;


}

.hex1,.hex2,.hex3,.hex4,.hex5,.hex6,.hex7,.hex8{
 opacity: 0;
  transform: scale(2.0);
}


.clip-o{
position: relative;
background-color: #fafafa;
width: 100%;
height: 100%;
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
border-radius: 10%;
}

.clip-o:hover{
   border-radius: 10%;
transition: ease-out 0.1s transform;
z-index: 1;
  transform: scale(1.3);


}



@media (max-width: 700px){
  .contentGrid{
    height: 50vw;
    width:  100%;
    margin:0;
    position: relative;
    overflow: hidden;

  }

.main-grid{

  display: grid;
  grid-column-gap: 0vw;
  grid-row-gap: 0vw;
  grid-template-columns:
              repeat(7, 10vw);
  grid-auto-rows: 10vw;
  justify-content: space-evenly;

    grid-template-areas:
          "g1 . g2"
          ". g3 ."
          "g4 . g5"
          " . g6 ."
          "g7 . g8";
    }




}



@keyframes fadein {
0% {
  opacity: 0;
  transform: translateY(500px) perspective(400px) translateZ(-500px)
}
40% {
  transform: perspective(400px) translateZ(-250px);
}

100% {
  opacity: 1;
  transform: translateY(0) perspective(400px) translateZ(0) ;
 transform: scale(2.3) ;
}
}


#hex1 {
animation-delay: 100ms;
}
#hex2 {
animation-delay: 300ms;
}
#hex3 {
animation-delay: 550ms;
}
#hex4 {
animation-delay: 850ms;
}
#hex5 {
animation-delay: 1100ms;
}
#hex6 {
animation-delay: 850ms;
}
#hex7 {
animation-delay: 550ms;
}
#hex8 {
animation-delay: 300ms;
}



/*
.containerGrid{
  height: 340px;
  width: 100%;
  display: grid;
  place-items: center;
  background-color:#eee;
  margin:0;

}
.mainGrid{
    display: grid;
    grid-column-gap: 2.3vw;
    grid-row-gap: 7vw;
    grid-template-columns:repeat(5, 7vw);
    grid-auto-rows: 7vw;
    grid-template-areas:
         "g1 . g2 . g3"
         ". g4 . g5 . "
         "g6 . g7 . g8";
    justify-content: space-evenly;
   }

.fadein {
  animation-name: fadein;
	animation-fill-mode: forwards;
	animation-duration: 900ms;
	animation-timing-function: ease-in-out;
  opacity: 0;
}


.hex1{grid-area: g1;animation-delay: 100ms;}
.hex2{grid-area: g2;animation-delay: 300ms;}
.hex3{grid-area: g3;animation-delay: 450ms;}
.hex4{grid-area: g4;animation-delay: 650ms;}
.hex5{grid-area: g5;animation-delay: 750ms;}
.hex6{grid-area: g6;animation-delay: 900ms;}

.hex1,.hex2,.hex3,.hex4,.hex5,.hex6,.hex7,.hex8{
    opacity: 0;
    transform: scale(1.0);
 }

.clip-o{
  position: relative;
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 10%;
}

.clip-o:hover{
    border-radius: 10%;
    transition: ease-out 0.1s transform;
    z-index: 1;
    transform: scale(1.3);
}

@media (max-width: 700px){
.mainGrid{
    grid-column-gap: 5.5vw;
    grid-row-gap: 17vw;
    grid-template-columns:
    repeat(3, 17vw);
    grid-auto-rows: 17vw;
    grid-template-areas:
         "g1 . g2"
         ". g3 ."
         "g4 . g5"
         " . g6 ."
         "g7 . g8";
    }
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(500px) perspective(400px) translateZ(-500px)
	}
	40% {
		transform: perspective(400px) translateZ(-250px);
	}
	100% {
		opacity: 1;
		transform: translateY(0) perspective(400px) translateZ(0) ;
   transform: scale(1.3) ;
	}
}

*/